<div class="is-login-background">
    <form class="is-login-form box-sizing">
        <div class="login-l">
            <div class="is-controls-panel">
                <input class="input-e is-login is-name" placeholder="Пользователь" type="text" name="login-edit" id="login-edit" value="" tabindex="1"/>
                <input class="input-e is-login is-password" placeholder="Пароль" name="password-edit" type="password" id="password-edit" value="" tabindex="2">
            </div>
            <div class="login-enter-btn" onclick="return false;" tabindex="4">
                <div class="text-be">Далее</div>
            </div>
        </div>
    </form>
</div>
