<!-- template: container -->
<div class="control-ext">
    <div class="control h-container container designer">
        <div class="designer-toolbar">
            <div class="button icon-vertical" role="vertical"></div>
            <div class="button icon-horizontal" role="horizontal"></div>
            <div class="button icon-layer" role="layer"></div>
            <div class="control" role="controls">
                <select>
                    <option value="151c0d05-4236-4732-b0bd-ddcf69a35e25">Label</option>
                    <option value="55d59ec4-77ac-4296-85e1-def78aa93d55">DataGrid</option>
                    <option value="b75474ef-26d0-4298-9dad-4133edaa8a9c">VContainer</option>
                    <option value="93ada11b-8c2a-4b06-b5ee-8622d607b0a4">GContainer</option>
                    <option value="bf0b0b35-4025-48ff-962a-1761aa7b3a7b">Button</option>
                    <option value="567cadd5-7f9d-4cd8-a24d-7993f065f5f9">DataEdit</option>
                    <option value="29bc7a01-2065-4664-b1ad-7cc86f92c177">Form</option>
                    <option value="1d95ab61-df00-aec8-eff5-0f90187891cf">CContainer</option>
                    <option value="638c1e37-2105-9676-f3c9-dfc2746d1265">HContainer</option>
                    <option value="902822d8-3079-f394-2eed-3ad9ac27b2f2">FContainer</option>
                    <option value="26309035-7f47-422e-26c8-6c25a091c20e">GContainer</option>
                    <option value="afc2da5a-ad87-4d0c-83dd-96df7ae1b3b6">Toolbar</option>
                    <option value="35400d0c-5465-00e8-c770-a1b04b4b8180">TreeView</option>
                    <option value="f91349d1-2254-cc67-07b3-792674725650">DbTreeView</option>
                </select>
            </div>
            <div class="button icon-control" role="control"></div>
            <div class="button icon-delete" role="delete"></div>
            <div class="control" role="existingControls">
                <select>
                </select>
            </div>
            <div class="button icon-control" role="existingControl"></div>
            <div class="button icon-layout" role="layout"></div>
            <div class="control" role="changeLayout">
                <select>
                </select>
            </div>
            <div class="button icon-delete" role="refresh"></div>
            <div class="button icon-delete" role="load-model"></div>
        </div>
        <div class="c-content">
            <div class="designer-content">
                <svg/>
            </div>
            <div class="prop-edit">
                <div class="prop-edit-header"></div>
                <div class="prop-edit-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Значение</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="gen-form">
                <div class="control v-container container">
                    <div class="c-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- template: property -->
<tr>
    <td class="name"></td>
    <td class="value"><input type="text"/></td>
</tr>

<!-- template: model -->
{
"$sys": {
"guid": "cb63b2d6-93e8-2ee3-603b-884025f98c7a",
"typeGuid": "5e89f6c7-ccc2-a850-2f67-b5f5f20c3d47"
},
"fields": {
"Id": "5",
"Name": "DataModel",
"ResElemName": "ADataModel6"
},
"collections": {
"Datasets": [
{
"$sys": {
"guid": "c2de9609-237a-c3b3-12ac-43bf5b35c169",
"typeGuid": "3f3341c7-2f06-8d9d-4099-1075c158aeee"
},
"fields": {
"Id": "6",
"Name": "DatasetLeadList",
"ObjType": "c170c217-e519-7c23-2811-ff75cd4bfe81",
"Active": true,
"OnMoveCursor": " { this.getControlMgr().getByName('FormParam1').value(newVal); } ",
"ResElemName": "Dataset6"
},
"collections": {
"Fields": [
{
"$sys": {
"guid": "eb6fa823-11cf-6f34-053e-533c2d391b64",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "7",
"Name": "Id",
"ResElemName": "DataField80"
}
},
{
"$sys": {
"guid": "296988a7-6d26-6fec-bd6f-de7cb565cc9b",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "8",
"Name": "Source",
"ResElemName": "DataField81"
}
},
{
"$sys": {
"guid": "7e81d9b8-ffdd-9adb-b27e-50bed6bf9648",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "9",
"Name": "State",
"ResElemName": "DataField82"
}
},
{
"$sys": {
"guid": "23e1320b-8c99-4d82-008a-0c9fe678db08",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "10",
"Name": "Content",
"ResElemName": "DataField83"
}
},
{
"$sys": {
"guid": "a0e1e0e0-0c82-29ba-cd5d-b770aa9ffcc9",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "11",
"Name": "Creation",
"ResElemName": "DataField84"
}
},
{
"$sys": {
"guid": "c34e850f-7c2d-cdf1-85b7-b74a2295cc73",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "12",
"Name": "Closed",
"ResElemName": "DataField85"
}
},
{
"$sys": {
"guid": "54ed8415-9663-d4e0-e19f-a6e2bf2ee7ad",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "13",
"Name": "OpportunityId",
"ResElemName": "DataField86"
}
},
{
"$sys": {
"guid": "4c5fedcb-c43c-fb33-17e6-6df0e3b3e728",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "14",
"Name": "ContactId",
"ResElemName": "DataField87"
}
},
{
"$sys": {
"guid": "81d400b0-8f58-a800-576f-19ea369a994d",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "15",
"Name": "FirstName",
"ResElemName": "DataField88"
}
},
{
"$sys": {
"guid": "fc1bdfc6-906f-a742-1218-8454d9125623",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "16",
"Name": "LastName",
"ResElemName": "DataField89"
}
},
{
"$sys": {
"guid": "d0c2d70e-7572-de26-f8a3-a527e529db0d",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "17",
"Name": "Title",
"ResElemName": "DataField90"
}
},
{
"$sys": {
"guid": "eca1ef71-09a7-11a2-e244-d611df8dd77a",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "18",
"Name": "MobilePhone",
"ResElemName": "DataField91"
}
},
{
"$sys": {
"guid": "2fec5ab0-24cf-83e5-5486-19dda237c4bf",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "19",
"Name": "WorkPhone",
"ResElemName": "DataField92"
}
},
{
"$sys": {
"guid": "f0b24e9c-b140-bf20-1083-1edf425dfa74",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "20",
"Name": "Email",
"ResElemName": "DataField93"
}
},
{
"$sys": {
"guid": "6819d5a5-0789-eda5-3cf8-43f128545ec9",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "21",
"Name": "CompanyId",
"ResElemName": "DataField94"
}
},
{
"$sys": {
"guid": "bb76eac7-7f14-532f-bb28-72122339d7e0",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "22",
"Name": "Company",
"ResElemName": "DataField95"
}
},
{
"$sys": {
"guid": "0bf0fc84-9c00-4d78-447b-242a18e3cd7d",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "23",
"Name": "Industry",
"ResElemName": "DataField96"
}
},
{
"$sys": {
"guid": "808e498c-0586-17d0-1ce5-0ef3e65d6e12",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "24",
"Name": "NbEmpl",
"ResElemName": "DataField97"
}
},
{
"$sys": {
"guid": "771cf450-fb24-04ae-dbdc-a1d1ea4a1450",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "25",
"Name": "City",
"ResElemName": "DataField98"
}
},
{
"$sys": {
"guid": "dad54b1c-2a3c-a272-049a-42dd2a3a1351",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "26",
"Name": "Address",
"ResElemName": "DataField99"
}
},
{
"$sys": {
"guid": "7e6cdfb8-93d7-8dee-38f0-3e2cce92bfd6",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "27",
"Name": "PostalCode",
"ResElemName": "DataField100"
}
}
]
}
},
{
"$sys": {
"guid": "504729ba-e002-d856-b694-271ca843a98c",
"typeGuid": "3f3341c7-2f06-8d9d-4099-1075c158aeee"
},
"fields": {
"Id": "28",
"Name": "DatasetLeadLog",
"ObjType": "bb48579c-808e-291e-0242-0facc4876051",
"Active": true,
"OnMoveCursor": " { this.getControlMgr().getByName('FormParam1').value(newVal); } ",
"Master": "c2de9609-237a-c3b3-12ac-43bf5b35c169",
"ResElemName": "Dataset7"
},
"collections": {
"Fields": [
{
"$sys": {
"guid": "cdec4144-dbdf-85c6-db91-231bb402ee84",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "29",
"Name": "Id",
"ResElemName": "DataField101"
}
},
{
"$sys": {
"guid": "c63d1dd4-ffa2-2bd0-f9b4-8f658018c1c3",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "30",
"Name": "LeadId",
"ResElemName": "DataField102"
}
},
{
"$sys": {
"guid": "b707c450-6cba-c9ee-f62d-4ce35f449c5f",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "31",
"Name": "Date",
"ResElemName": "DataField103"
}
},
{
"$sys": {
"guid": "4507be07-a3ff-65d9-465c-7f8d6ff122a5",
"typeGuid": "4bade3a6-4a25-3887-4868-9c3de4213729"
},
"fields": {
"Id": "32",
"Name": "Content",
"ResElemName": "DataField104"
}
}
]
}
}
]
}
}