<!-- template: button -->
<div class="control-ext">
    <div class="control button tool-button">
        <div class="tool-button-content">
            <div class="t-button-icon-wrapper">
            </div>
            <div class="t-button-caption-wrapper">
                <div class="t-button-caption"></div>
            </div>
        </div>
    </div>
</div>
<!-- template: svg -->
<svg xmlns:xlink="http://www.w3.org/1999/xlink" width="###SIZE###px" height="###SIZE###px" viewBox="0 0 22 22" xml:space="preserve">
    <use xlink:href="/images/###IMAGE###"></use>
</svg>