<!-- template: toolbar -->
<div class="control-ext">
    <div class="control toolbar">
        <div class="c-content">
            <div class="c-caption-wrapper">
                <div class="c-caption">
                    <div class="c-caption-content">
                        <div class="t-caption-icon-wrapper"/>
                        <div class="t-caption-title-wrapper">
                            <div class="t-caption-text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- template: svg -->
<svg xmlns:xlink="http://www.w3.org/1999/xlink" width="###SIZE###px" height="###SIZE###px" viewBox="0 0 22 22" xml:space="preserve">
    <use xlink:href="/images/###IMAGE###"></use>
</svg>
