.container
  border solid 1px #000000
.c-container.container > .c-content
.v-container.container > .c-content
  width 100%
  height 100%
  position relative
.h-container.container
  position relative
.h-container.container > .c-content
  width 100%
  height 100%
.v-container.container > .c-content
  min-height 100%
.h-container.container > .c-content
  min-width 100%
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
.h-container.container > .c-content,
.v-container.container > .c-content
  display flex
  display -webkit-flex
  display -moz-flex
.v-container.container > .c-content
  flex-direction column
  -webkit-flex-direction column
  -moz-flex-direction column
  -ms-flex-direction: column;
.h-container.container > .c-content
  flex-direction row
  //-webkit-flex-direction row
  //-moz-flex-direction row
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
.h-content-wrapper
  border solid 1px #000000
