.control.edit
.control.label
.control.button
  position relative
  font-size 0.75em
  line-height 1.5em
  position absolute

.control.edit input
.control.label input
.control.button input
  font-size 1em

.control.edit input
  padding 0.3em 0.9em 0.3em 0.9em
  &:focus
    outline none
.control.button
  input
    border none
    padding 0.3em 0em 0.3em 0.825em
  .is-input-wrapper
    margin-right 0.825em
.control.edit input
  font-family OpenSansRegular
.control.button input
.control.label
  font-family OpenSansBold
.control.label
  color #718ab2
  display inline-block