.control.edit
.control.label
.control.button
  position relative
  font-size 0.75em
  line-height 1.5em
  position absolute

.control.edit input
.control.button input
  color #3c4251
  border-color #d7e2f5
  border-radius 4px
  border 1px inset
  padding 0.3em 0.9em 0.3em 0.9em
  box-shadow none
  outline none
.control.button input
  background-color #ffffff

.control.label
  font-family OpenSansBold
  color #718ab2
  display inline-block