.control.edit
.control.label
.control.button
  position relative
  font-size 0.75em
  line-height 1.5em
  position absolute
.control.edit input
  color #3c4251
  border 1px solid #d7e2f5
  border-radius 5px
  padding 0.3em 0.9em 0.3em 0.9em
  &:focus
    border 1px solid #5195e5
    box-shadow inset 0 1px 2px 0px rgba(81, 149, 229, 0.5)
    -webkit-box-shadow inset 0 1px 2px 0px rgba(81, 149, 229, 0.5)
    -moz-box-shadow inset 0 1px 2px 0px rgba(81, 149, 229, 0.5)
    outline none
.control.button input
  background-color #ffffff
  color #3c4251
  border 1px solid #babec5
  border-radius 5px
  padding 0.3em 0.975em 0.3em 0.825em
  box-shadow 0 1px 2px 0px #dadce0
  -webkit-box-shadow 0 1px 2px 0px #dadce0
  -moz-box-shadow 0 1px 2px 0px #dadce0
.control.button.is-green input
  background-color #35c367
  color #ffffff
  border-color #009c48
.control.edit input
  font-family OpenSansRegular
.control.button input
.control.label
  font-family OpenSansBold
.control.label
  color #718ab2
  display inline-block