.control.toolbar
  cursor pointer
  .c-content
    height 100%
    width 100%
    .control-wrapper
      width auto
      height 100%
      display inline-block
      float left
      .mid-wrapper
        height 100%
        width auto
        .control-ext
          height 100%
          width auto
        .control
          width auto
.control.toolbar.is-big
  height 4.875em
.control.toolbar.is-small
  height 2.8125em
.control.toolbar.is-white
  .c-content
    background-color #ffffff
    .control-wrapper
      color #5195e5
      &:hover
        color #323845
.control.toolbar.is-blue
  .c-content
    background-color #d7e2f5
    .control-wrapper
      color #718ab2
      &:hover
        color #323845