.control.toolbar {
  cursor: pointer;
}
.control.toolbar .c-content {
  height: 100%;
  width: 100%;
}
.control.toolbar .c-content .control-wrapper {
  width: auto;
  height: 100%;
  display: inline-block;
  float: left;
}
.control.toolbar .c-content .control-wrapper .mid-wrapper {
  height: 100%;
  width: auto;
}
.control.toolbar .c-content .control-wrapper .mid-wrapper .control-ext {
  height: 100%;
  width: auto;
}
.control.toolbar .c-content .control-wrapper .mid-wrapper .control {
  width: auto;
}
.control.toolbar.is-big {
  height: 4.875em;
}
.control.toolbar.is-small {
  height: 2.8125em;
}
.control.toolbar.is-white .c-content {
  background-color: #fff;
}
.control.toolbar.is-white .c-content .control-wrapper {
  color: #5195e5;
}
.control.toolbar.is-white .c-content .control-wrapper:hover {
  color: #323845;
}
.control.toolbar.is-blue .c-content {
  background-color: #d7e2f5;
}
.control.toolbar.is-blue .c-content .control-wrapper {
  color: #718ab2;
}
.control.toolbar.is-blue .c-content .control-wrapper:hover {
  color: #323845;
}
