<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Genetix</title>
    <link href="/ui-impose/images/system/themes/grey/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/ui-impose/css/system/themes/grey/general.css">
    <link rel="stylesheet" type="text/css" href="/ui-impose/css/system/themes/grey/controls/login.css">
    <link rel="stylesheet" type="text/css" href="/ui-impose/css/system/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/ui-impose/css/system/jquery.jscrollpane.css">
    <link rel="stylesheet" type="text/css" href="/ui-impose/css/system/themes/grey/controls/controls.css">

    <script src="/LibScripts/uccello/uses/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/LibScripts/jquery-ui.js"></script>
    <script src="/LibScripts/uccello/uses/url.js"></script>
    <script src="/LibScripts/uccello/uses/jquery.cookie.js"></script>
    <script src="/LibScripts/jeditable/jquery.jeditable.mini.js"></script>
    <script src="/LibScripts/uccello/uses/require.js"></script>
    <script src="/scripts/requre.config.js"></script>
    <script src="/LibScripts/uccello/uses/class-extend.js"></script>
    <script src="/LibScripts/iscroll.js"></script>
    <script src="/LibScripts/wGrid.js"></script>
    <script src="/scripts/genetix.main.js"></script>
</head>
<body class="is-disableselect">
    <div id="mainContent" class="is-disableselect container-front is-main-container">

    </div>
</body>
</html>