.label-e {
  color: #468ddc;
  font-size: 0.6875em;
  display: inline-block;
  padding-bottom: 0.09090909090909091em;
  border-bottom: 0.09090909090909091em solid transparent;
}
.label-e.is-hoverable:hover {
  border-bottom-color: #468ddc;
  cursor: pointer;
}
.label-e.is-13 {
  font-size: 0.8125em;
  padding-bottom: 0.07692307692307693em;
  border-bottom: 0.07692307692307693em solid transparent;
}
/* 22f4eb58fe2e291ab4f55683f8dc695b */
.calendar-week-e {
  font-size: 0.6875em;
  color: #54729c;
  font-weight: 600;
  width: 1.3333333333333333em;
  height: 1.3333333333333333em;
}
/* b80f86c9009dd31750290e75f926fe4e */
.calendar-item-e {
  font-size: 0.75em;
  width: 2em;
  height: 2em;
  color: #3d4144;
  text-align: center;
  border-radius: 0.125em;
  line-height: 2em;
  position: relative;
  z-index: 0;
/* 3b2abaff9134941324abb47a3f2daf8d */
/* e4e2d1ebfe65c9ab3e2a6931149a77e1 */
/* 960f2ac9f8994cb7020ae37c0a4e4d9c */
/* 5bef5020f0ff1eec1c6ca820942b76e9 */
}
.calendar-item-e.is-grey {
  color: #b4b7be;
}
.calendar-item-e.is-hoverable:hover {
  box-shadow: 0 0.08333333333333333em 0 #6ca9f0, 0 -0.08333333333333333em 0 #6ca9f0, 0.08333333333333333em 0 0 #6ca9f0, -0.08333333333333333em 0 0 #6ca9f0;
  cursor: pointer;
  z-index: 1;
}
.calendar-item-e.is-checkable.is-check {
  background-color: #d5e4f7;
  color: #54729c;
}
.calendar-item-e.is-activeable:active {
  background-color: #6ca9f0;
  color: #fff;
}
/* 23aa7d8508df87c6b86adae6174a5b86 */
.toolbar-item-e {
  font-size: 0.6875em;
  height: 2.1818181818181817em;
  line-height: 1.818181818181818em;
  display: inline-block;
  padding: 0 0.6079545454545454em;
  border-radius: 0.18181818181818182em;
  letter-spacing: 0.03125em;
  text-shadow: 0 0.125em 0.1875em rgba(0,0,0,0.65);
  border: 0.09090909090909091em solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 153607365b1861c0325b9d52233af5fd */
}
.toolbar-item-e:hover {
  border: 0.09090909090909091em solid rgba(255,255,255,0.2);
  cursor: pointer;
}
.toolbar-item-e.is-check {
  background-color: rgba(255,255,255,0.2);
}
/* 05bdb5dcdd799cb495740238e24efc4d */
.overlay-e {
  background-color: rgba(70,141,220,0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.blinded-e {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
input:focus {
  outline: 0;
}
input.is-iconed {
  padding-left: 1.8333333333333333em;
}
input.is-search {
  background: transparent url("") no-repeat left center;
  background-size: 1.3333333333333333em;
}
/*==========  797c8c7f27517ee8945f729f622e8d0c  ==========*/
.filter-input-e {
  height: 2em;
  display: block;
  width: 100%;
  border: 0.08333333333333333em solid #9fb4d2;
  border-radius: 0.16666666666666666em;
  padding: 0 0.5625em;
  font-size: 0.75em;
  color: #2f3337;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/* 5f86012099bb8ad422082ba5793d24a5 */
}
.filter-input-e.is-grey {
  border: 0.08333333333333333em solid #d1d2d7;
}
/*==========  503790e9fee70cdfbe3a98e122ccac96  ==========*/
.toolbar-input-e {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.8333333333333333em;
  display: block;
  width: 100%;
  border: 0.08333333333333333em solid #898f98;
  border-radius: 0.16666666666666666em;
  padding: 0 0.5625em;
  font-size: 0.75em;
  box-shadow: inset 0 0.08333333333333333em 0.16666666666666666em 0 rgba(0,0,0,0.12), inset 0 0.08333333333333333em 0 0 rgba(0,0,0,0.05);
  color: #2f3337;
/*==========  c818da76a1ff816a868ccdcf7026c098  ==========*/
/*==========  c818da76a1ff816a868ccdcf7026c098  ==========*/
}
.toolbar-input-e:focus {
  outline: 0;
  border: 0.08333333333333333em solid #468ddc;
  box-shadow: inset 0 0.08333333333333333em 0.16666666666666666em 0 rgba(70,141,220,0.25), inset 0 0.08333333333333333em 0 0 rgba(70,141,220,0.12);
}
.toolbar-input-e.is-iconed {
  padding-left: 1.8333333333333333em;
}
.toolbar-input-e.is-search {
  background: transparent url("") no-repeat left center;
  background-size: 1.3333333333333333em;
}
/*==========  6f4c46cafaeb4f43802274d6584012a0  ==========*/
.color-sample-e {
  width: 1.125em;
  height: 1.125em;
  background-color: #ffc0cb;
  border-radius: 0.125em;
  cursor: pointer;
}
.color-sample-e.is-check {
  cursor: default;
  background: transparent url("") no-repeat center center;
}
/*==========  b4023a63ab9a382d7abbd2f8090c8c07  ==========*/
.mbar-label-e .content-el {
  font-size: 0.6875em;
  font-weight: bold;
  color: #6d727f;
}
/*==========  8ba0583c2baf4153828709de7c1b48df  ==========*/
.splitter-e {
  height: 1.625em;
  width: 0.625em;
  background-color: #6ba4e3;
  border-radius: 0.125em;
  position: relative;
  cursor: pointer;
}
.splitter-e.is-horizontal {
  height: 0.625em;
  width: 1.625em;
}
.splitter-e:hover {
  background-color: #468ddc;
}
/*==========  11ca6f27eaa9d19c73441bfe121356e6  ==========*/
.expand-toggle-e {
  height: 1.5em;
  width: 1.625em;
  background-color: #a5bbd9;
  cursor: pointer;
  border-top-left-radius: 0.125em;
  border-bottom-left-radius: 0.125em;
}
.expand-toggle-e.is-right {
  border-radius: 0;
  border-top-right-radius: 0.125em;
  border-bottom-right-radius: 0.125em;
}
.expand-toggle-e:hover {
  background-color: #87a4cd;
}
/*==========  b00e1dd3dc8708dc8bb149a04f0409b9  ==========*/
.input-e {
  border: 1px solid #d1d2d7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 0.125em;
  color: #2f3337;
  font-size: 0.6875em;
  padding: 0.5em 1em;
  background-color: #fff;
/*==========  7e672378257c5f1898933fe04e336096  ==========*/
/*==========  2dc7c48c5903fbe536dd5ec79ce3f6ef  ==========*/
/*==========  a3eb288c1e00edf6474199954fc69011  ==========*/
}
.input-e::-webkit-input-placeholder {
/* WebKit browsers */
  color: #818586;
}
.input-e:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: #818586;
}
.input-e::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: #818586;
}
.input-e:-ms-input-placeholder {
/* Internet Explorer 10+ */
  color: #818586;
}
.input-e:hover {
  border-color: #468ddc;
}
.input-e:focus {
  border-color: #468ddc;
  box-shadow: inset 0 0.0625em 0.25em #dce9f8;
  outline: 0;
  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
}
.input-e.is-error {
  border-color: #dc3d36 !important;
  box-shadow: inset 0 0.0625em 0.25em #efa6a3 !important;
}
.input-e.is-login {
  height: 2em;
  border-radius: 0.1875em;
  font-size: 1.125em;
  padding: 0.125em 0.625em;
  box-shadow: inset 0 0.0625em 0.1875em #d9dfee;
}
.input-e.is-login::-webkit-input-placeholder {
/* WebKit browsers */
  line-height: 1.1875em;
  font-weight: 100;
  font-size: 1.125em;
  color: #798aa0;
}
.input-e.is-login:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  line-height: 1.1875em;
  font-weight: 100;
  font-size: 1.125em;
  color: #798aa0;
}
.input-e.is-login::-moz-placeholder {
/* Mozilla Firefox 19+ */
  line-height: 1.1875em;
  font-weight: 100;
  font-size: 1.125em;
  color: #798aa0;
}
.input-e.is-login:-ms-input-placeholder {
/* Internet Explorer 10+ */
  line-height: 1.1875em;
  font-weight: 100;
  font-size: 1.125em;
  color: #798aa0;
}
.input-e.is-login:hover {
  border-color: #6ca9f0;
}
.input-e.is-login:focus {
  border-color: #6ca9f0;
  box-shadow: inset 0 0.0625em 0.1875em #9cc2ec;
  outline: 0;
  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
}
.input-e.is-name {
  background: transparent url("../icons/login-input-name.png") no-repeat 96% center;
  background-size: 1.125em;
}
.input-e.is-password {
  background: transparent url("../icons/login-input-password.png") no-repeat 94.75% center;
  background-size: 0.7749999999999999em;
}
/*==========  6a34e378081ea7af593fad7a44131fc9  ==========*/
.textarea-e {
  border: 1px solid #d1d2d7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border-radius: 2px;
  color: #2f3337;
  font-size: 0.6875em;
  padding: 0.5em 1em;
  background-color: #fff;
  resize: none;
}
.textarea-e[disabled] {
  border-color: #d1d2d7 !important;
  background-color: #f2f6fb !important;
  box-shadow: none !important;
  color: #b6b7bf;
  cursor: default !important;
}
.textarea-e:hover {
  border-color: #468ddc;
}
.textarea-e:focus {
  border-color: #468ddc;
  box-shadow: inset 0 1px 2px #9cc2ec;
  outline: 0;
  -webkit-transition: box-shadow 0.2s ease-out;
  -moz-transition: box-shadow 0.2s ease-out;
  -o-transition: box-shadow 0.2s ease-out;
  transition: box-shadow 0.2s ease-out;
}
.hash-e {
  color: #888;
  font-size: 0.6875em;
}
/*==========  dcc43dc86d562c0329fac908da0a85cc  ==========*/
.btn-confirm-e {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.73em;
  padding: 0.35em 1.0625em;
  border-radius: 2px;
  box-shadow: 0 1px 3px #2f3337;
  cursor: pointer;
  background-color: #6ca9f0;
}
.btn-confirm-e:hover {
  box-shadow: none;
}
.btn-confirm-e:active {
  background-color: #468ddc;
}
.btn-confirm-e.is-red {
  background-color: #e96e5f;
}
.btn-confirm-e.is-red:active {
  background-color: #d14d3d;
}
/*==========  e8107290b79effd87c30abe856279fb9  ==========*/
.led-e {
  width: 2em;
  height: 2em;
  background: transparent url("../icons/System_toolbar/36x36_Led_green.png");
  background-size: 100%;
}
.led-e.is-red {
  background: transparent url("../icons/System_toolbar/36x36_Led_red.png");
  background-size: 100%;
}
.text-btn-e {
  cursor: pointer;
  padding: 0.25em 0.8em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 2px;
  font-size: 0.75em;
  position: relative;
}
.text-btn-e.is-check {
  background-color: rgba(255,255,255,0.2);
}
.text-btn-e.is-arrow-drop {
  margin-right: 2.375em;
}
.text-btn-e.is-arrow-drop:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: -0.725em;
  margin-top: -0.0675em;
  z-index: 2;
  border-left: 0.3625em solid transparent;
  border-right: 0.3625em solid transparent;
  border-top: 0.3625em solid #fff;
}
