body {
  padding: 0;
  margin: 0;
}
.f-row {
  position: relative;
}
.f-row > div {
  float: left;
}
input,
textarea {
  width: 100%;
  box-sizing: border-box;
}
.control.label,
.control.edit {
  word-wrap: break-word;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}
body > .f-row {
  top: 0;
  left: 0;
  margin: 0;
  z-index: 5;
}
body > .grid {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
}
.grid-column {
  outline: solid 1px #0ae;
  float: left;
  position: relative;
}
textarea {
  overflow: hidden;
  word-wrap: break-word;
  height: 36px;
}
.f-row > .control-wrapper {
  background-color: #fff;
}
.control.container.f-container > .c-content {
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.control.label.cont-label {
  font-size: 1.125em;
  font-weight: 500;
  color: #323845;
}
